node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# Iubar
api-key.txt
debug.log
package-lock.json
app.json 
# because api-key is saved in app.json 